body {
    padding: 0;
    overflow: hidden;
    font-family: colfax, helvetica, arial, sans-serif;
}

p {
  font-size: 17px;
}

.intro{
  font-size:26px;
}

a{
  color: #DDDDDD;
  text-decoration: none;
}

a:hover{
  color: #FFFFFF;
  text-decoration: underline;
}

.map {
    position: absolute;
    right: 0px;
    left: 620px;
    height: 100%;
    top: 0;
}

.sidebar {
    position: absolute;
    left: 0px;
    width: 620px;
    top: 0;
    bottom: 100px;
    overflow-y: auto;
    padding: 20px;
    font-size: 16px;
    background-color: #202020;
    color: #BFBFBF;
}

.legend{
  /*position:absolute;*/
  bottom:20%;
  left:5%;
}

.small_legend{
  width:15px;
  height:15px;
  border-radius:50%;
  margin:5px;
  display: inline-block;
}

.legend div p{
  display:inline-block;
  font-size: 20px;
  margin:10px;
}

#weekday_cluster1{
  background-color:#294993;
}

#weekday_cluster2{
  background-color:#57BE25;
}

#weekday_cluster3{
  background-color:#FDF300;
}

#weekend_cluster1{
  background-color:#57BE25;
}

#weekend_cluster2{
  background-color:#294993;
}

#weekend_cluster3{
  background-color:#FDF300;
}

#most_active, #positive_imbalance_pressure, #most_positive_imbalanced{
  background-color:#FD3500;
}

#least_active, #negative_imbalanced_pressure, #least_active_imbalanced{
  background-color:#0F4AA7;
}

li{
  font-size: 18px;
  margin: 12px 0px;
}

.graph_index{
  text-align: right;
  /*position:fixed;*/
  font-size: 20px;
  /*right:5%;
  bottom:12%;*/
}

.button_div{
  position:fixed;
  bottom:0;
  left:0;
  background-color: #404040;
  height:55px;
  width:620px;
}

.button{
  font-size:18px;
  width: 45%;
  padding: 10px 5%;
  margin:5px auto;
  background-color:#666666;
  border: 0px;
  border-radius: 5%;
  color:#FFFFFF;
  transition: all 0.5s;
}

.button:hover{
  background-color:#CCCCCC;
  color:#333333;
}

#previous_button{
  position: absolute;
  display:inline-block;
  margin-left: 2.5%;
}

#next_button{
  position: absolute;
  display:inline-block;
  margin-left: 52.5%;
}

.Author{
  position:fixed;
  bottom:55px;
  left:0;
  height:50px;
  width:620px;
  background-color: #202020;
  color: #BFBFBF;
}

.Author p{
  margin-right: 10px;
  right:10px;
  text-align: right;
  font-size:12px;
}
